body {
	//text-align:center;	/*für IE9, führt IE trotzdem aus*/
	background: #444;
}

a {
 	color: #fff;
 	text-decoration: none;
}

a:hover { 
	text-decoration:underline;
}

/*a:hover img { 
	opacity: 0.5; 
}*/



div.slidebox{	/*reihenfolge wichtig*/
	position:relative;	/*ermöglicht h2(mit absolute) sich an der box zu orientieren*/
	overflow: hidden; 
	float: left;
	
	display: block;	
	margin-right: 3px; 	
	width: 63px;
	height: 289px;
}
.slidebox img{
	margin: 0;
	padding: 0;
	width:432px;
	height:289px;
}
.slidebox h2{
	top: 196px;
	left: 0;	/*für IE9*/
	margin: 0 0 0 10px; /*left:10*/
	position: absolute; 
}
.slidebox h2 a{
	color:white; 
	font: bold 18px/45px Helvetica, Sans-Serif; 
	text-transform: uppercase;
	letter-spacing: -1px;  
	background: #A9122A; 
	padding: 6px;
}
.slidebox p {
	top: 237px;
	/*width: 360px;/*bringt autoUmbruch, aber nich so hübsch*/
	margin: 0 0 0 36px; 
	position: absolute;
	left: 0;	/*für IE9*/
	padding: 3px 6px;	
	font-size: 12pt;
	text-align: left;
	color: white;
	/*line-height: 280%;*/	
	background: rgba(0, 0, 0, 0.7); /*IE9 kann das nich*/
	//background: rgb(0, 0, 0);	/* IE führts trotzdem aus*/
	/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B3000000, endColorstr=#B3000000);*/
		/*schön bei IE9, funzt ab IE7, aber flackert bei 7 u 8*/
}	
	
#wrapper{
	margin: 20px auto;
	width: 630px;
}
#slider{
	margin-top: 200px;
	width:630px;
}

#sb4{
	margin: 0;
}


