# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
sites/goc.local

nbproject
.DS_Store
sites/all/themes/goc/compass/.sass-cache/
/sites/*/modules/dev
FirePHPCore

# phpstorm stuff
.idea
