# Ignore paths that contain user-generated content.
docroot/files
docroot/sites/*/files
docroot/sites/*/private
docroot/sites/goc.local

/nbproject
.DS_Store
/docroot/sites/all/themes/goc/compass/.sass-cache/
/tmp
/private
